:root, :root .extheme {
  --Brand-7: #445FE5 !important;
  --Brand-7-r: 68 !important;
  --Brand-7-g: 95 !important;
  --Brand-7-b: 229 !important;
  --Testbgimg: url(../images/img1.png) !important;
}